{% extends "base.html" %}

{% block title_head %}
Sobre mi
{% endblock title_head %}


{% block section %}

<p>
    <h2>Sobre mi</h2>
    <p class="lead">
        Soy Ariel Nicolás Burkhard, y estoy presentando un proyecto emocionante:
        una página dedicada a los speedruns. Este sitio permite a los usuarios
        explorar y registrar sus récords en videojuegos, proporcionando una plataforma
        interactiva y atractiva para la comunidad de gamers. Utilizando Django, he podido
        crear una aplicación web robusta que facilita la gestión de datos y la interacción
        del usuario. Este proyecto forma parte de un curso que he estado realizando, el cual ha
        sido fundamental para desarrollar mis habilidades en programación y diseño web.
        Estoy muy satisfecho con lo que he aprendido y con los resultados que he logrado hasta ahora.

    </p>
</p>

{% endblock section %}
