<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title_head %}
            Template base
            {% endblock title_head %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css"%} rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                {% if  request.user.is_authenticated%}
                <a class="navbar-brand" href="#">{{request.user.username}}</a>
                <form action={% url "cerrar_sesion" %} method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary" value="Cerrar Sesion">
                </form>
                {% else %}
                <a class="btn btn-primary" href={% url "ingresar" %}>Ingresar</a>
                <a class="btn btn-info" href={% url "registrarse" %}>Registrarse</a>                
                {% endif %}
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "inicio" %}>Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "categorias" %}>Categorias</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "sobre_mi" %}>Sobre mi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            {% block div %}
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
                <p class="text-white-50 mb-0">Landing Page Template</p>
            </div>
            {% endblock div %}
        </header>
        <!-- Content section-->
        {% block section %}
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>HORA DE CORRER</h2>
                        <p class="lead">Haz cada segundo contar, rompe tus límites y demuestra lo que puedes lograr. ¡Es tu momento, corre más rápido que nunca!</p>
                        <p class="mb-0">Cada segundo perdido puede ser la diferencia entre la victoria y la derrota. Un solo error y todo puede desmoronarse. No hay margen para fallos, no hay excusas. Si no corres al máximo, alguien más lo hará. ¡Corre como si tu vida dependiera de ello, porque en este juego solo hay ganadores o perdedores!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>HORA DE PELEAR</h2>
                        <p class="lead">Cada golpe cuenta, cada segundo es crucial. No hay espacio para la duda cuando el único camino es la victoria. ¡Prepárate para luchar con todo! </p>
                        <p class="mb-0">En este juego no hay piedad. Un solo error te pone en la cuerda floja, y el más mínimo descuido puede costarte la pelea. Aquí no se trata solo de atacar, se trata de leer al oponente, de reaccionar más rápido y de castigar sin dudar. Cada batalla es una guerra por tu honor. ¡No dejes nada en el tanque, sal y destruye a tu rival!.</p>
                    </div>
                </div>
            </div>
        </section>
        {% endblock section %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">EL COLISEO DE NOXBILL</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static "js/scripts.js"%}></script>
    </body>
</html>
